<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    {{ form.csrf_token }}
    {{ form.name.label }}{{ form.name() }}<br>
    {{ form.price.label }}{{ form.price() }}<br>
    {{ form.content.label }}{{ form.content() }}<br>
    {{ form.image.label }}{{ form.image() }}<br>
    {{ form.phone.label }}{{ form.phone() }}<br>
    {{ form.wechat.label }}{{ form.wechat() }}<br>
    {{ form.email.label }}{{ form.email() }}<br>
    {{ form.type.label }}{{ form.type() }}<br>
    {{ form.submit() }}<br>
    {# 显示消息闪现内容 #}
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</form>

</body>
</html>